.swiper {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    background-color: black;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    background-color: black;
}

@media (max-width: 490px) {
    .swiper {
        width: 100vw;
        max-width: 100vw;
    }

    .swiper-slide {
        width: 100%;
        max-width: 100vw;
    }
}