.swiper {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
}

.swiper-slide {
    width: 100%;
    background-color: transparent;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
<<<<<<< HEAD
=======
.swiper {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
}

.swiper-slide {
    width: 100%;
    background-color: transparent;
}
<<<<<<< HEAD

.swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
>>>>>>> b3173dc1 (first commit in Ubuntu)
}
=======
>>>>>>> ce9b3c9f (viewerPostText)
=======
}
>>>>>>> parent of 60d7322 (first commit in Ubuntu)
