.history-style img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
<<<<<<< HEAD
=======
.history-style img {
    width: 100%;
    max-width: 500px;
    height: 100vh;
<<<<<<< HEAD
    object-fit: contain;
>>>>>>> b3173dc1 (first commit in Ubuntu)
=======
    object-fit: cover;
>>>>>>> ce9b3c9f (viewerPostText)
=======
>>>>>>> parent of 60d7322 (first commit in Ubuntu)
}