<<<<<<< HEAD
.swiper {
    width: 100%;
    background-color: transparent;
}

.swiper-slide {
    width: auto !important;
    background-color: green;
}
=======
.swiper {
    width: 100%;
    background-color: transparent;
}

.swiper-slide {
    width: auto !important;
    background-color: green;
}
>>>>>>> b3173dc1 (first commit in Ubuntu)
